.agence-main-section{
    padding: 120px 180px;
    & .agence-description-container{
        display: grid;
        grid-template-rows: repeat(1);
        grid-template-columns: repeat(2, 1fr);

        & .agence-side-description-container{
            display:flex;
            justify-content: center;
            align-items: flex-start;

            &:first-child{
                margin-right: 30px;
            }
            &:last-child{
                margin-left: 30px;
            }

            & .agence-side-description{
                display: flex;
                justify-content: flex-start;
                opacity: 0.7;
            }
        }

    }
}