.boutique-container {
    .isotope-button-container.charger-plus {
        display: flex;
        justify-content: center;
        margin: 50px 0;
        @media (max-width: $layout-breakpoint-end-smartphone) {
            justify-content: flex-start;
        }
        button {
            padding: 15px 23px;
            font-family: $font-main-500;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            font-size: 14px;
            border-color: black;
            border: 1px solid black;
            text-decoration: none;
            border-radius: 25px;
            background-color: transparent;
            cursor: pointer;
            color: black;

            position: relative;
            outline: 1px solid transparent;

            &:hover {
                outline: 2px solid black;
                outline-offset: -1px;
            }
        }
    }
}