.page-template-marques{
    .section-archive-all-marque{
        @media (min-width: $layout-breakpoint-start-desktop) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
            row-gap: 70px;
        }
        @media (max-width: $layout-breakpoint-start-desktop) {
            padding-bottom: 0;
        }
    }
    .influence-section-container{
        @media (min-width: $layout-breakpoint-start-desktop) {
            padding-top: 0;
            padding-bottom: 150px;
        }
        @media (max-width: $layout-breakpoint-start-desktop) {
            padding-top: 120px;
            padding-bottom: 120px;
            .influence{
                &:last-child{
                    .influence-card{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }   
}

