@media (max-width: $layout-breakpoint-end-tablette) {
    .realisation-card{
        &:last-child{
            .realisation-card-content{
                margin-bottom: 0;
            }
        }
    }
}
.section-archive-all-realisations{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0;
    @media (min-width: $layout-breakpoint-end-tablette) {
        margin-top: 100px;
    }
}
.page-template-prestations{
    .section-archive-all-realisations{
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: $layout-breakpoint-end-tablette) {
            a {
                margin-top: 25px !important;
            }
        }
    
        h2 {
            margin-bottom: 25px;
        }
        p {
            margin: 0 !important;
        }

        ol {
            margin-top: 25px;
            list-style-type: none; /* Masquer les marqueurs par défaut */
            li {
                padding: 13.5px 0;
                position: relative; /* Positionnement relatif pour li */
                padding-left: 25px; /* Espacement entre le marqueur et le contenu, ajustez si nécessaire */
                border-bottom: 1px solid rgba($color: $color-black, $alpha: 0.1);
                color: $color-black;
                &:first-child{
                    border-top: 1px solid rgba($color: $color-black, $alpha: 0.1);
                }
                &::before {
                    content: counter(list-item) ". "; /* Ajouter le marqueur en utilisant le compteur */
                    position: absolute; /* Positionnement absolu pour ::before */
                    padding: 12.5px 0;
                    left: 0; /* Aligner le marqueur à gauche */
                    top: 0; /* Aligner le marqueur en haut */
                    padding-right: 5px; /* Espacement entre le marqueur et le contenu, ajustez si nécessaire */
                  }
            }
        }
    
        ul {
            margin: 0;
            li {
                &::marker{
                    font-size: 10px;
                }
                &:first-child{
                    margin-top: 25px;
                }
                margin-bottom: 20px;
                padding-left: 10px;
                text-indent: -10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        
    }  
}
 