.default-link-hover{
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
    color: $color-black;
    font-size: 14px;
    font-family: $font-main-400;
    font-weight: normal;
    &:hover{
        transition: all 0.3s ease-in-out ;
        opacity: 1 !important;
    }
}