.swiper-next-cta, .swiper-prev-cta {
  flex-direction: row;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + #{ptr(51, desktop)}));
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  background-color: $color-white;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

  @media (max-width: $layout-breakpoint-end-smartphone) {
    display: none;
  }

  @media (max-width: $layout-breakpoint-end-tablette) {

  }

  @media (min-width: $layout-breakpoint-start-desktop) {
    display: flex;
    width: ptr(51, desktop);
    height: ptr(51, desktop);
    box-shadow: 0 0 ptr(40, desktop) rgba($color-black, 0.3);
}


  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: ptr(10, desktop);
    height: ptr(10, desktop);
    z-index: 1;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="6.684" height="10.845" viewBox="0 0 6.684 10.845"%3E%3Cpath id="Tracé_23035" data-name="Tracé 23035" d="M4.923,102.753a.687.687,0,0,1-.487-.2L.2,98.317a.689.689,0,0,1,.975-.975l3.746,3.746,3.746-3.746a.689.689,0,0,1,.975.975l-4.233,4.233A.687.687,0,0,1,4.923,102.753Z" transform="translate(-96.568 10.346) rotate(-90)" fill="%23000" stroke="%23000" stroke-width="1"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    @media (max-width: $layout-breakpoint-end-smartphone) {
      display: none;
  }

    @media (max-width: $layout-breakpoint-end-tablette) {

  }

    @media (min-width: $layout-breakpoint-start-desktop) {
      display: block;
  }
}

  &:hover {
    // Make it darker
    background-color: darken($color-white, 2%);
}

  // Disabled state
  &.cta-disabled {
    opacity: 0;
    pointer-events: none;
    cursor: not-allowed;
}
}

  // Rotate & positionning for prev
  .swiper-prev-cta {
    left: ptr(74, desktop);
    &::before {
      transform: translate(-50%, -50%) rotate(180deg);
  }
}

  .swiper-next-cta {
    right: ptr(74, desktop);
}

.carousel-controller {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(33,39,19,1) 0%, rgba(43,43,32,1) 0%, rgba(43,43,43,0) 100%, rgba(0,0,0,0) 100%);
  .swiper-pagination-bullet {
    background-color: white}
  .swiper-posts-nav {
    background-color: white;
    padding: 17.2px 16.2px;
    border-radius: 100px;
    height: fit-content;
    width: fit-content;
    position: absolute;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.3);
    top: -95%;}
  .swiper-button-prev,
  .swiper-button-next {
    @media (max-width: $layout-breakpoint-end-smartphone) {
        display: none;
    }
}
}