/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  VARIOUS COMPONENTS 
/**/

/* LIENS A HREF */

a[href] {
    //display: inline;
    &:not(.std-link) {
      text-decoration: none;
    }
    color: $color-black;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  CHECKBOXS
 * --------------------------------------------------------------------------------------------------------------
 */
/**/

// checkbox with fa
%checkbox-black {
  input{
    display: none;
  }
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    &::before {
      content: "";
      display: flex;
      width: 15px;
      height: 15px;
      border: 1px solid rgba($color: $color-black, $alpha: 0.3);
      margin-right: 5px;
      left: 0;
      top: 3px;
    }
    &label::before{
      position: absolute;
    }
  }  
}
%checkbox-black-span {
  input{
    display: none;
  }
  span{
    display: flex;
    align-items: center;
    cursor: pointer;
    &::before {
      content: "";
      display: flex;
      width: 15px;
      height: 15px;
      border: 1px solid rgba($color: $color-black, $alpha: 0.3);
      margin-right: 5px;
      left: 0;
      top: 3px;
    }
  }  
}
// checkbox with fa checked
%checkbox-black-white-span {
  span{
    cursor: pointer;
    &::before {
      content: '\f00c';
      font-weight: 900;
      font-family: 'Font Awesome\ 5 Free';
      width: 15px;
      align-items: center;
      justify-content: center;
      height: 15px;
      border: 1px solid black;
      cursor: pointer;
      color: white;
      left: 0;
      top: 3px;
      background-color: #000;
    }   
  }
}
// checkbox with fa checked
%checkbox-black-white {
  label{
    cursor: pointer;
    &::before {
      content: '\f00c';
      font-weight: 900;
      font-family: 'Font Awesome\ 5 Free';
      width: 15px;
      align-items: center;
      justify-content: center;
      height: 15px;
      border: 1px solid black;
      cursor: pointer;
      color: white;
      left: 0;
      top: 3px;
      background-color: #000;
    }  
    &label::before{
      position: absolute;
    } 
  }
}





