.influence-template-default {
    
    .bkg-filter {
        @media (max-width: $layout-breakpoint-end-smartphone) {
            padding: 85px 0 0px 0;
            max-height: none;
            height: calc(100vh - 85px);
        }
    }

    .single-influence-main-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $layout-breakpoint-end-tablette) {
            margin-top: 40px;
        }
        >.single-influence-content-container{
        
            & img {
                display: block;
                width: 100% !important;
                max-height: 500px;
                object-fit: cover;
                margin: 30px 0px 0 0;
            }
            & p{
                font-family: $font-main-400;
                text-align: left;
                font-size: 16px;
                color: $color-black;
                margin-top: 10px;
            }

            & h1,h2,h3{
                font-family: $font-main-500;
                text-align: left;
                //font-size: 20px;
                color: $color-black;
                margin-top: 50px;
                margin-bottom: 10px;
            }
            @media (min-width: $layout-breakpoint-end-tablette) {
                width: 70%;
            }
        }

        >.section-post {
            padding: 0;
            @media (min-width: $layout-breakpoint-end-tablette) {
                width: 70%;
            }
            .swiper {
                margin: 20px 0;
                width: 100%;
                align-items: center;

                @media (max-width: $layout-breakpoint-end-smartphone) {
                    height: ptr(436, mobile) !important;
                }

                @media (max-width: $layout-breakpoint-end-tablette) {
                    height: ptr(536, tablet) !important;
                }

                @media (min-width: $layout-breakpoint-start-desktop) {
                    //height: ptr(600, desktop) !important;
                    // height: ptr(536, tablet) !important;
                    height: 85vh;
                }

                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        >.single-influence-end-section{
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin-top: 50px;

            & span, p:last-child{
                font-family: $font-main-600;
                font-weight: bold;
            }
        }
    }
    @media (max-width: $layout-breakpoint-end-tablette) {
        .single-influence-main-section, .single-influence-separator{
            max-width: 440px;
            margin: auto;
            .single-influence-end-section{
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }
    @media (min-width: $layout-breakpoint-end-tablette) {
        .single-influence-separator{
            margin-top: 100px;
        }
    }

    .single-influence-separator{
        padding: 0px 60px;
        & .single-influence-separator-line{
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);

        }
        
    }

}