.single-realisation-main-section{
    padding-top: 90px !important;
    & .single-realisation-description-container{
        display: grid;
        grid-template-rows: repeat(1);
        grid-template-columns: repeat(2, 1fr);

        & .single-realisation-side-description-container{
            display:flex;
            justify-content: center;
            align-items: flex-start;

            & .single-realisation-side-description{
                width: 50%;
                display: flex;
                justify-content: flex-start;
                opacity: 0.7;
            }
        }

    }

    & .single-realisation-img-container {
        &-4{grid-template-rows: 600px 600px 200px !important;}
        &-3{grid-template-rows: 600px 600px 200px !important;}
        &-5{grid-template-rows: 600px 600px 200px !important;}

        &-2{grid-template-rows: 600px !important;}
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 27px;
        grid-template-rows: 600px 800px 600px 600px; /* Ajustez les valeurs de hauteur selon vos besoins */
              & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        
        & .test:nth-child(1){
            grid-column: span 2;
            grid-row: span 1;
        }
        & .test:nth-child(2){
            grid-column: span 4;
            grid-row: span 1;
        }

          & .test:nth-child(3){
            grid-column: span 4;
            grid-row: span 2;
        }
        
        & .test:nth-child(4),
        & .test:nth-child(5){
            grid-column: span 2;
        }
        
        & .test:nth-child(6){
            grid-column: span 2;
            grid-row: span 1;
        }
        & .test:nth-child(7){
            grid-column: span 4;
            grid-row: span 1;
        }

        .nb-image-1, .nb-image-3, .nb-image-6{
            grid-column: span 6 !important;
        }
        & .nb-image-2,.nb-image-7{
            grid-column: span 4 !important;
        }
        & .nb-image-4{
            grid-row: span 2 !important;
        }
      }
    
}