/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

// ------------- * Main Font library * -------------

@font-face {
  font-family: 'Montserrat-Regular'; // FW-400
  src: url('/fonts/Montserrat/Montserrat-Regular.otf') format('otf');
}
@font-face {
  font-family: 'Montserrat-Medium'; // FW-500
  src: url('/fonts/Montserrat/Montserrat-Medium.otf') format('otf');
}
@font-face {
  font-family: 'Montserrat-SemiBold'; // FW-600
  src: url('/fonts/Montserrat/Montserrat-SemiBold.otf') format('otf');
}
@font-face {
  font-family: 'Montserrat-Bold'; // FW-700
  src: url('/fonts/Montserrat/Montserrat-Bold.otf') format('otf');
}
@font-face {
  font-family: 'Montserrat-ExtraBold'; // FW-800
  src: url('/fonts/Montserrat/Montserrat-ExtraBold.otf') format('otf');
}
@font-face {
  font-family: 'Montserrat-Black'; // FW-900
  src: url('/fonts/Montserrat/Montserrat-Black.otf') format('otf');
}


// ------------- * Main Font Family * -------------

$font-main-400: "Montserrat-Regular";        // FW-400
$font-main-500: "Montserrat-Medium";         // FW-500
$font-main-600: "Montserrat-SemiBold";       // FW-600
$font-main-700: "Montserrat-Bold";           // FW-700
$font-main-800: "Montserrat-ExtraBold";      // FW-800
$font-main-900: 'Montserrat-Black';          // FW-900

// ------------- * Secondary Font library * -------------

@font-face {
  font-family: 'PlayfairDisplay-Regular'; // FW-400
  src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'PlayfairDisplay-Medium'; // FW-500
  src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('ttf'),
}
@font-face {
  font-family: 'PlayfairDisplay-SemiBold'; // FW-600
  src: url('/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf') format('ttf'),
}
@font-face {
  font-family: 'PlayfairDisplay-Bold'; // FW-700
  src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('ttf'),
}
@font-face {
  font-family: 'PlayfairDisplay-ExtraBold'; // FW-800
  src: url('/fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf') format('ttf'),
}
@font-face {
  font-family: 'PlayfairDisplay-Black'; // FW-900
  src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf') format('ttf'),
}

// ------------- * Secondary Font Family * -------------

$font-secondary-400: "PlayfairDisplay-Regular";    // FW-400
$font-secondary-500: "PlayfairDisplay-Medium";     // FW-500
$font-secondary-600: "PlayfairDisplay-SemiBold";   // FW-600
$font-secondary-700: "PlayfairDisplay-Bold";       // FW-700
$font-secondary-800: "PlayfairDisplay-ExtraBold";  // FW-800
$font-secondary-900: 'PlayfairDisplay-Black';      // FW-900

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/

// ------------- * Font Sizes * -------------

// Global referent Font Size quotient
$font-size-quotient: 1;

// Font Size Function 
@function pixelsCalc($pxSize) {
  @return ($pxSize * $font-size-quotient) + px; 
}

// Font Size Function  pixel to Rem
@function pxToRem($pxSize) {
  @return $pxSize / 10 + rem; // standard size: 10px
}

/* Font Size Function to create classes
ex :
.font-size-10 {
  font-size: 1rem;
}*/
@mixin font-size() {
  $font-size-list: 10 12 14 16 20 24;
  @each $value in $font-size-list {
    .font-size-#{$value} {
      font-size: pxToRem($value);
    }
  }
}
@include font-size();


/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES
/**/


/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  FONT-FAMILIES BY ELEMENTS
/**/

// MAIN FONT :-------------------------------- //

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-main-700; // Montserrat
  @supports ( -moz-appearance:none ){
    font-weight: 500;
  }
}
h4,
h5 {
  font-family: $font-main-400; // Montserrat
}

// SECONDARY FONT :-------------------------------- //

h1,
h2 {
  font-family: $font-secondary-700; // Playfair
}
.site-navigation a {
  font-family: $font-secondary-400; // Playfair
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  FONT-SIZES BY ELEMENTS
/**/

// FONTS :---------------------------------------- // SIZE 1

h1 {
  font-size: pixelsCalc(80);
  line-height: pixelsCalc(80);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(45);
    line-height: pixelsCalc(54);
  }
}

// FONTS :---------------------------------------- // SIZE 2
h2 {
  font-size: pixelsCalc(40);
  line-height: pixelsCalc(45);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(35);
    line-height: pixelsCalc(42);
  }
}

// FONTS :---------------------------------------- // SIZE 3
h3 {
  font-size: pixelsCalc(20);
  line-height: pixelsCalc(23);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(25);
    line-height: pixelsCalc(30);
  }
}

// FONTS :---------------------------------------- // SIZE 4
h4 {
  font-size: pixelsCalc(14);
  line-height: pixelsCalc(17);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(16);
    line-height: pixelsCalc(18);
  }
}

// FONTS :---------------------------------------- // SIZE 5
h5 {
  font-size: pixelsCalc(12) !important;
  line-height: pixelsCalc(14) !important;
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(12) !important;
    line-height: pixelsCalc(14) !important;
  }
}

// FONTS :---------------------------------------- //  NAV LINKS
header .site-navigation a {
  font-size: pixelsCalc(15);
  line-height: pixelsCalc(18);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(20);
    line-height: pixelsCalc(24);
  }
}

footer .site-navigation a {
  font-size: pixelsCalc(25);
  line-height: pixelsCalc(30);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(20);
    line-height: pixelsCalc(24);
  }
}

// FONTS :---------------------------------------- //  P
p {
  font-size: pixelsCalc(16);
  line-height: pixelsCalc(21);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(18);
    line-height: pixelsCalc(21);
  }
}