/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

// ------------- * Main Font library * -------------

@font-face {
  font-family: 'ElmaTrio-Regular'; // FW-400
  src: url('../fonts/elma-font-family/ElmaTrio-Regular.woff2') format('woff2');
}
/*@font-face {
  font-family: 'ElmaTrio-Medium'; // FW-500
  src: url('../fonts/elma-font-family/ElmaTrio-Medium.woff2') format('woff2');
}*/
@font-face {
  font-family: 'ElmaTrio-SemiBold'; // FW-600
  src: url('../fonts/elma-font-family/ElmaTrio-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'ElmaTrio-Bold'; // FW-700
  src: url('../fonts/elma-font-family/ElmaTrio-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'ElmaTrio-ExtraBold'; // FW-800
  src: url('../fonts/elma-font-family/ElmaTrio-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'ElmaTrio-Black'; // FW-900
  src: url('../fonts/elma-font-family/ElmaTrio-Black.woff2') format('woff2');
}


// ------------- * Main Font Family * -------------

$font-main-400: "ElmaTrio-Regular";        // FW-400
$font-main-500: "ElmaTrio-Medium";         // FW-500
$font-main-600: "ElmaTrio-SemiBold";       // FW-600
$font-main-700: "ElmaTrio-Bold";           // FW-700
$font-main-800: "ElmaTrio-ExtraBold";      // FW-800
$font-main-900: 'ElmaTrio-Black';          // FW-900

// ------------- * Secondary Font library * -------------

@font-face {
  font-family: 'Garnett-Regular'; // FW-400
  src: url('../fonts/garnett-font-family/Garnett-Regular.woff') format('woff'),
       url('../fonts/garnett-font-family/Garnett-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Garnett-Medium'; // FW-500
  src: url('../fonts/garnett-font-family/Garnett-Medium.woff') format('woff'),
       url('../fonts/garnett-font-family/Garnett-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Garnett-SemiBold'; // FW-600
  src: url('../fonts/garnett-font-family/Garnett-SemiBold.woff') format('woff'),
       url('../fonts/garnett-font-family/Garnett-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Garnett-Bold'; // FW-700
  src: url('../fonts/garnett-font-family/Garnett-Bold.woff') format('woff'),
       url('../fonts/garnett-font-family/Garnett-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Garnett-ExtraBold'; // FW-800
  src: url('../fonts/garnett-font-family/Garnett-ExtraBold.woff') format('woff'),
       url('../fonts/garnett-font-family/Garnett-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Garnett-Black'; // FW-900
  src: url('../fonts/garnett-font-family/Garnett-Black.woff') format('woff'),
       url('../fonts/garnett-font-family/Garnett-Black.woff2') format('woff2');
}

// ------------- * Secondary Font Family * -------------

$font-secondary-400: "Garnett-Regular";    // FW-400
$font-secondary-500: "Garnett-Medium";     // FW-500
$font-secondary-600: "Garnett-SemiBold";   // FW-600
$font-secondary-700: "Garnett-Bold";       // FW-700
$font-secondary-800: "Garnett-ExtraBold";  // FW-800
$font-secondary-900: 'Garnett-Black';      // FW-900

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/

// ------------- * Font Sizes * -------------

// Global referent Font Size quotient
$font-size-quotient: 1;

// Font Size Function 
@function pixelsCalc($pxSize) {
  @return ($pxSize * $font-size-quotient) + px; 
}

// Font Size Function  pixel to Rem
@function pxToRem($pxSize) {
  @return $pxSize / 10 + rem; // standard size: 10px
}

/* Font Size Function to create classes
ex :
.font-size-10 {
  font-size: 1rem;
}*/
@mixin font-size() {
  $font-size-list: 10 12 14 16 20 24;
  @each $value in $font-size-list {
    .font-size-#{$value} {
      font-size: pxToRem($value);
    }
  }
}
@include font-size();


/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES
/**/


/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  FONT-FAMILIES BY ELEMENTS
/**/

// MAIN FONT :-------------------------------- //

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-main-700; // Elma Trio
  @supports ( -moz-appearance:none ){
    font-weight: 500;
  }
}
h4,
h5 {
  font-family: $font-main-400; // Elma Trio
}

// SECONDARY FONT :-------------------------------- //

h1,
h2 {
  font-family: $font-secondary-700; // Garnett
}
.site-navigation a {
  font-family: $font-secondary-400; // Garnett
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  FONT-SIZES BY ELEMENTS
/**/

// FONTS :---------------------------------------- // SIZE 1

h1 {
  font-size: pixelsCalc(80);
  line-height: pixelsCalc(80);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(45);
    line-height: pixelsCalc(54);
  }
}

// FONTS :---------------------------------------- // SIZE 2
h2 {
  font-size: pixelsCalc(40);
  line-height: pixelsCalc(45);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(35);
    line-height: pixelsCalc(42);
  }
}

// FONTS :---------------------------------------- // SIZE 3
h3 {
  font-size: pixelsCalc(20);
  line-height: pixelsCalc(36);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(25);
    line-height: pixelsCalc(30);
  }
}

// FONTS :---------------------------------------- // SIZE 4
h4 {
  font-size: pixelsCalc(14);
  line-height: pixelsCalc(21);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(16);
    line-height: pixelsCalc(18);
  }
}

// FONTS :---------------------------------------- // SIZE 5
h5 {
  font-size: pixelsCalc(12) !important;
  line-height: pixelsCalc(16) !important;
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(12) !important;
    line-height: pixelsCalc(14) !important;
  }
}

// FONTS :---------------------------------------- //  NAV LINKS
header .site-navigation a {
  font-size: pixelsCalc(15);
  line-height: pixelsCalc(18);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(20);
    line-height: pixelsCalc(24);
  }
}

footer .site-navigation a {
  font-size: pixelsCalc(25);
  line-height: pixelsCalc(30);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(20);
    line-height: pixelsCalc(24);
  }
}

// FONTS :---------------------------------------- //  P
p {
  font-size: pixelsCalc(16);
  line-height: pixelsCalc(24);
  @media all and (max-width: $layout-breakpoint-end-tablette) {
    font-size: pixelsCalc(18);
    line-height: pixelsCalc(21);
  }
}