/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

// ------------- * Desktop * -------------

$margin-width-desktop: 60px;
$lateral-margin-width-desktop: 60px;
$top-margin-width-desktop: 60px;
$bottom-margin-width-desktop: 60px;
  // Thiner if no margin
$top-margin-width-desktop-thin: 77px;
$bottom-margin-width-desktop-thin: 77px;

// ------------- * Mobile * -------------

$margin-width-mobile: 50px;
$lateral-margin-width-mobile: 25px;

$lateral-padding-width-mobile: 50px;

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/

// ------------- * Standard margins * -------------

@mixin standard-margin (){
  @media all and (min-width: $layout-breakpoint-start-desktop) {
    padding: $top-margin-width-desktop    
            $lateral-margin-width-desktop 
            $bottom-margin-width-desktop
            $lateral-margin-width-desktop;
  }
  @media (max-width: $layout-breakpoint-end-tablette) {
            padding: $margin-width-mobile 
            $lateral-margin-width-mobile
            $margin-width-mobile
            $lateral-margin-width-mobile;
  }
}

// ------------- * Lateral margins * -------------

@mixin lateral-margin ($type){
  @if $type == "section" {
    @media all and (min-width: $layout-breakpoint-start-desktop) {
      padding-left: $lateral-margin-width-desktop; 
      padding-right: $lateral-margin-width-desktop; 
    }
    @media (max-width: $layout-breakpoint-end-tablette) {
      padding-left: $lateral-margin-width-mobile;
      padding-right: $lateral-margin-width-mobile;
    }
  } @else if $type == "inner-section" {
    @media (max-width: $layout-breakpoint-end-tablette) {
      margin-left: $lateral-margin-width-mobile;
      margin-right: $lateral-margin-width-mobile;
      width: auto !important;
    }
  }
}

// ------------- * Lateral margins on mobile * -------------

@mixin lateral-margin-mobile ($type){
  @if $type == "section" {
    @media all and (min-width: $layout-breakpoint-start-desktop) {
      padding-left: 0; 
      padding-right: 0; 
    }
    @media (max-width: $layout-breakpoint-end-tablette) {
      padding-left: $lateral-margin-width-mobile;
      padding-right: $lateral-margin-width-mobile;
    }
  } 
}

// ------------- * No Top margin * -------------

@mixin no-margin-top (){
  @media all and (min-width: $layout-breakpoint-start-desktop) {
    padding-top: 0;
  }
  @media (max-width: $layout-breakpoint-end-tablette) {
    padding-top: 0;
  }
}

// ------------- * No Bottom margin * -------------

@mixin no-margin-bottom (){
  @media all and (min-width: $layout-breakpoint-start-desktop) {
    padding-bottom: 0;
  }
  @media (max-width: $layout-breakpoint-end-tablette) {
    padding-bottom: 0;
  }
}

// ------------- * Move up next section * -------------

@mixin next-section-ascend (){
  z-index: 12 !important;
  @media all and (min-width: $layout-breakpoint-start-desktop) {
    margin-bottom: - $bottom-margin-width-desktop;
  }
  @media (max-width: $layout-breakpoint-end-tablette) {
    margin-bottom: - $lateral-padding-width-mobile;
  }
}


/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES 
/**/
.padding-top-header{
  padding: 0;

  .fil-ariane-container{
    margin: 20px 0 160px 0;
    padding-left: $margin-width-desktop;
    @media (max-width: $layout-breakpoint-start-tablette) {
      padding-left: $lateral-margin-width-mobile;
    }
  }
  .text-center{
    @media (min-width: $layout-breakpoint-end-tablette) {
      width: 60%;
      margin: 20vh auto 0 auto;
    }
    @media (max-width: $layout-breakpoint-end-tablette) {
      width: 80%;
      margin: 0 auto 10vh auto;
    }
    h1{
      margin-bottom: 0px;
    }
    h3{
      margin-top: 30px;
    }
    .cta-primary{
      margin-top: 160px;
    }
  }
}
.home-section {
  position: relative;
  padding: 0;
  h3{
    margin-bottom: 40px;
  }
}
.padding-histoire{
  padding: 0;
  .bkg-filter{
    height: auto;
    min-height: 600px;
    padding: 0;
    display: flex;
    width: 100%;
  }
  @media (max-width: $layout-breakpoint-start-desktop) {
    .text-center{
      align-content: center;
      display: grid;
      h2{
        margin-bottom: 14px;
      }
      h3{
        margin-top: 0;
      }
    }
    margin-bottom: 120px;
  }
  display: flex;
  align-items: center;
  .text-center{
    margin: auto;
    h3{
      margin-bottom: 40px;
    }
  }
}
.little-lateral-margin {
  @media (min-width: $layout-breakpoint-start-desktop) {
    margin-left: $lateral-margin-width-desktop;
    margin-right: $lateral-margin-width-desktop;
  }
  @media (max-width: $layout-breakpoint-start-desktop) {
    margin-left: $lateral-margin-width-mobile;
    margin-right: $lateral-margin-width-mobile;
  }
}

.little-lateral-padding {
  @media (min-width: $layout-breakpoint-start-desktop) {
    padding-left: $lateral-margin-width-desktop;
    padding-right: $lateral-margin-width-desktop;
  }
  @media (max-width: $layout-breakpoint-start-desktop) {
    padding-left: $lateral-margin-width-mobile;
    padding-right: $lateral-margin-width-mobile;
  }
}

.section-contact {
  padding:0;
  margin-right: 0;
  .left-contact{
    @media (max-width: $layout-breakpoint-end-tablette) {
      padding: 75px 25px 100px 25px;
    }
    @media (min-width: $layout-breakpoint-end-tablette) {
      padding: 90px 20px 0 0;
      .head {
        margin-right: 80px;
      }
    }
    .informations-pratiques{
      margin-top: 50px;
      ul{
        padding: 0;
        margin-bottom: 50px;
        .label{
          width: 200px;
          margin: 21px 0 auto 0;;
        }
        .value{
          width: 60%;
        }
      }
    }
  }
  .right-contact{
    @media (max-width: $layout-breakpoint-end-tablette) {
      padding: 60px 25px 40px 25px;
    }
    @media (min-width: $layout-breakpoint-end-tablette) {
      padding-top: 90px;
      .gform_wrapper{
        margin: 0 150px;
      }
    }
  }
}
.section-archive-all-marque{
  @media (min-width: $layout-breakpoint-start-desktop) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.prduit-card-content {
  h3 {
    margin-bottom: 15px;
  }
}

.bkg-filter{
  @media (min-width: $layout-breakpoint-end-tablette) {
    height: calc(100vh - 170px);
    padding: 100px 0 70px 0;
  }
  @media (max-width: $layout-breakpoint-end-tablette) {
    padding: 85px 0 70px 0;
    max-height: 560px;
  }
  background-color: rgba(0, 0, 0, 0.5);
}


.influence-card-content{
  h3{
    margin: 25px 0 15px 0;
  }
}
.blog-container{
  padding-bottom: 0;
}