/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/

// ------------- * Flex disposition * -------------

@mixin flex-disposition (
  $flex-direction,
  $flex-justify,
  $align-items
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $flex-justify;
  align-items: $align-items;
}


/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES 
/**/
html {
  scroll-behavior: smooth;
}
// -------------- * Text positions classes * --------------

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
.capital{
  text-transform: capitalize;
}

.full-width {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

//pagination
.pagination-container {
  display: flex;
  position: relative;
  justify-content: center;
  top: -30px;
}

.pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba($color: $color-white, $alpha: 0.3);
  z-index: 23;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-bullet.active {
background-color: $color-white;
}