/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/

// ------------- * Transition 1 * -------------

%transition {
  -webkit-transition: -webkit-all .4s ease-in-out 0s;
  -ms-transition: -ms-all .4s ease-in-out 0s;
  transition: all .4s ease-in-out 0s;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES 
/**/