/** contact-card **/
.contact-section-card{
    width: 49%;
    height: fit-content;
    background: $color-grey;
    max-width: 670px;

    &:hover{
        & .contact-section-card-img{
            transform: scale(1.2);
        }
    }

    & .contact-section-card-img-container{
        width: 100%;
        @media (min-width: $layout-breakpoint-start-tablette) {
            height: 295px;
        }
        @media (max-width: $layout-breakpoint-start-tablette) {
            height: 155px;
        }
        overflow: hidden;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

    }
    & .contact-section-card-content{
        @media (min-width: $layout-breakpoint-end-tablette) {
            padding: 50px;
        }
        @media (max-width: $layout-breakpoint-end-tablette) {
            padding: 25px;
        }
        color: $color-black;
        font-size: 16px;
        font-weight: 300;

        & .contact-section-card-paragraphe{
            opacity: 0.6;
            
        }
        & .contact-section-card-title{
            margin-top: 0px !important;
            color: $color-black;
        }

        & .contact-section-card-link{
            font-size:14px;
            background-size: 10% 2px, 0 2px ;
            &:hover{
                background-size: 0 2px, 100% 2px !important;
            }
        }
    }
}

.bureau-etude-card{
    @media (min-width: $layout-breakpoint-end-tablette) {
        margin-left: 22px;
    }
}

/** Marque Card **/

.marque-card{
    position: relative;
    transition: background-color .4s ease-in-out;
    @media (min-width: $layout-breakpoint-end-tablette) {
        background-color: black !important;
        max-height:480px ;
        & .marque-card-container-paragraphe{
            height: 100%;
            position: absolute;
            opacity: 0;
            background:rgba(0, 0, 0, 0.8);
            & .marque-card-paragraphe{
                color: $color-white;
                padding: 20px;
                padding: 90px 50px;
            }
        }
        & .marque-card-content-container{
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100px;
                background: linear-gradient(to top, black, rgba(255, 255, 255, 0));
                z-index: 0;
            }
            & .marque-card-title{
                bottom: 35px;
                left: 35px;
            }
            &:hover {
                &::after{
                    z-index: 10;
                }
                & .marque-card-title{
                    transition: opacity .4s ease-in-out;
                    opacity: 0;
                }
                & .marque-card-container-paragraphe{
                    transition: opacity .4s ease-in-out;
                    opacity: 1;
                    z-index: 10;
                }
            } 
        }
    }
    & .marque-card-container-paragraphe{
        transition: opacity .4s ease-in-out;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        & .marque-card-paragraphe{
            margin-bottom: 0px !important;
        }
    }

    @media (max-width: $layout-breakpoint-end-tablette) {
        max-width: 440px;
        margin: auto;
        margin-bottom: 60px;
        &:last-child{
            margin-bottom: 0;
        }
        & .marque-card-container-paragraphe{
            & .marque-card-paragraphe{
                margin-top: 30px;
                color: rgba($color: $color-black, $alpha: 0.7);
            }
        }
        & .marque-card-img{
            max-height: 350px;
        }
        & .marque-card-content-container{
            & .marque-card-title{
                top: 290px;
                left: 25px;
            }
        }
    }
    & .marque-card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    & .marque-card-content-container{

        & .marque-card-title{
            transition: opacity .4s ease-in-out;
            opacity: 1;
            color: $color-white;
            position: absolute;
            z-index: 1;
            margin-bottom: 0px !important;
        }
    }
    
}

/** influence card **/

.influence-card{
    @media (max-width: $layout-breakpoint-end-tablette) {
        max-width: 440px;
    }
    height: fit-content;
    position: relative;

    & .influence-card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 480px;
    }
    & .influence-card-text{
        opacity: 0.5;
        color:$color-black;
    }

    & .influence-card-categorie{
        position: absolute;
        top: 20px;
        left: 20px;
        color:$color-white;
        background-color: rgba(183, 183, 183, 0.5);
        padding: 9px 12px;
        border-radius: 10px;
        text-transform: uppercase;
        margin-top: 0px;
    }

    & .influence-section-card-link{
        font-size:14px;
    }
}


/** Realisation card **/

.realisation-card{
    display: grid;
    grid-template-rows: repeat(1);
    grid-template-columns: repeat(2, 1fr);

    & .realisation-card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 740px;
    }

    & .realisation-card-content-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: $layout-breakpoint-end-tablette) {
            margin: 40px 0;
        }

        & .realisation-card-content{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            @media (min-width: $layout-breakpoint-end-tablette) {
                width: 50%;
            }
            ol, ul {
                list-style-position: inside;
                padding-left: 0;
                
                &ol{
                    li {
                        padding: 12px 0;
                        border-top: 1px solid rgba($color: $color-black, $alpha: 0.1);
                        &:last-child {
                          border-bottom: 1px solid rgba($color: $color-black, $alpha: 0.1);
                        }
                    }
                } 
            }
        }

        & .realisation-card-link{
            font-size:14px;
            width: fit-content !important;
            margin-top: 25px;
            
        }
    }
}

/** Produit card**/
@media (min-width: $layout-breakpoint-end-tablette) {
    .produit-card{
        & img{
            height: 500px;
        }
    }
}
@media (max-width: $layout-breakpoint-end-tablette) {
    .produit-card{
        margin-bottom: 60px;
        & img{
            height: 270px;
        }
        h3 {
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }
}
.produit-card{
    width:100%;
    display: flex;
    flex-direction: column;
    & img{
        width:100%;
        object-fit: cover;
    }
    & .produit-card-content{

    }
}


/** **/



/** link pour card**/

.all-card-link{
    background-size: 20% 2px, 0 2px ;
    cursor: pointer;
    &:hover{
        background-size: 0 2px, 100% 2px !important;
    }
}


/** RESPONSIVE **/

.card-mobile-1{
    @media (max-width: $layout-breakpoint-end-tablette) {
        display: flex;
        flex-direction: column;

        & .realisation-card-content{
            margin: 40px 25px 60px 25px;
            h3 {
                margin: 0;
            }
            p {
                margin: 20px 0 17.5px 0;
            }
            a {
                margin: 0 !important;
            }
        }
        max-width: 440px;
        margin: auto;
        width: 100%;
    }

}
.card-mobile-0{
    @media (max-width: $layout-breakpoint-end-tablette) {
        display: flex;
        flex-direction: column-reverse;

        & .realisation-card-content{
            margin: 40px 25px 60px 25px;
            h3 {
                margin: 0;
            }
            p {
                margin: 20px 0 17.5px 0;
            }
            a {
                margin: 0 !important;
            }
        }
        max-width: 440px;
        margin: auto;
        width: 100%;
    }
}