/** contact-card **/
.contact-section-card{
    width: 49%;
    height: fit-content;
    background: $color-grey;
    & .contact-section-card-img{
        width: 100%;
        max-height: 380px;
        object-fit: cover;
    }
    & .contact-section-card-content{
        padding: 50px;
        color: $color-black;
        font-size: 16px;
        font-weight: 300;

        & .contact-section-card-paragraphe{
            opacity: 0.6;
            
        }
        & .contact-section-card-title{
            margin-top: 0px !important;
            color: $color-black;
            font-size: 20px;
        }

        & .contact-section-card-link{
            font-size:14px;
            background-size: 10% 2px, 0 2px ;
            &:hover{
                background-size: 0 2px, 100% 2px !important;
            }
        }
    }
}