.contact-section-container{
    display: flex;
    flex-direction: column;

    & .contact-section-header-title{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & >p{
            opacity: 0.5;
            color: $color-black;
            text-transform: uppercase;
            font-family: $font-main-400;
        }
        & >h2{
            margin-top: 10px;
            text-transform: uppercase;
            color: $color-black;
            font-weight: 600;
            font-family: $font-main-400;
        }
    }

    & .contact-section-card-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
}