.contact-section-container{
    display: flex;
    flex-direction: column;
    padding: 60Px !important;

    & .contact-section-header-title{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & >p{
            opacity: 0.5;
            color: $color-black;
            margin:0px;
            text-transform: uppercase;
        }
        & >h2{
            margin-top: 10px;
            text-transform: uppercase;
            color: $color-black;
        }
    }

    & .contact-section-card-wrapper{
        @media (max-width: 1024px) {
            flex-direction: column;

            & .contact-section-card{
                width: 100% !important;
                margin-bottom: 40px;
            }
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
}