/** Structure principale des sections Nos influences / Nos réalisations **/
.cpt-section-container{
    display: flex;
    flex-direction: column;
    & .cpt-section-header-title{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & >p{
            opacity: 0.5;
            color: $color-black;
            text-transform: uppercase;
            font-family: $font-main-400;
        }
        & >h2{
            margin-top: 10px;
            text-transform: uppercase;
            color: $color-black;
            font-family: $font-main-400;
        }

        & .cpt-section-header-sub-content-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    & .cpt-section-card-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 20px;

        & .cpt-card{
            margin-right: 40px;
        }
    }
}

/** Adaptation si nécessaire **/

.realisation-section-container{
    padding: 0px !important;
    & .cpt-section-header-title{
        padding-left: 60px;
        margin-bottom: 40px;
    }
    & .cpt-section-header-sub-content-container{
        flex-direction: column;
        align-items: flex-start !important;
    }
    
    & .cpt-section-card-wrapper{
        flex-direction: column;
    }
}

.influence-section-container{
    & .cpt-section-card-wrapper .influence-card{
        margin-right: 20px ;
    }
}
.marque-section-container{
    & .cpt-section-card-wrapper .marque-card{
        margin-right: 20px ;
    }
}