/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

// -------------- * Size Footer Fonts * --------------

footer .site-navigation a {
    font-size: pixelsCalc(15);
    line-height: pixelsCalc(18);
    @media all and (max-width: $layout-breakpoint-end-tablette) {
      font-size: pixelsCalc(20);
      line-height: pixelsCalc(24);
    }
} 

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  FOOTER 
/* */

footer  {
    
    max-width: none !important;
    background-color: $color-grey ;
    & .site-navigation{
        justify-content: flex-start !important;
    }

    & .site-branding{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin: 0px !important;
        @media (min-width: $layout-breakpoint-end-burger) {
            margin-top: 30px !important;
        } 
        margin-bottom: 60px !important;
        & img{
            width: 300px !important;
            height: auto;
            filter: invert(1);
        }
    }
    section {
        margin: auto;
        & .footer-navigation{
            width: 100% !important;
            
            & .menu-footermenu-container{
                width: 100%;
            }
            #menu-item-21354{
                padding-left:0px !important;
            }
            & .sub-menu{
                display: flex; 
                padding:0px;
                flex-direction: column;
            }
            .wrap{
                & #menu-two>li{
                    & >a {
                        text-decoration: none;
                        padding-bottom: 4px;
                        background-image: linear-gradient(black, black),
                            linear-gradient(black, black);
                        background-size: 0% 0px, 0% 1px;
                        background-position: 0 0, 0% 100%;
                        background-repeat: no-repeat;
                        transition: background-size 0.2s linear; 
                        &:hover{
                            background-size: 0 2px, 100% 1px;
                        }
                    }
                }
            }
            & #menu-two{
                justify-content: space-between;
            }
            & #menu-two>li{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                @media all and (min-width: $layout-breakpoint-start-noburger) {
                    max-width: 200px !important;
                }
                @media all and (max-width: $layout-breakpoint-start-noburger) {
                    margin-bottom: 50px;
                }
                & >a{
                    padding:0px;
                    opacity: 0.8;
                    color :$color-black;
                    width: fit-content;
                    margin-bottom:29px;
                    @media all and (max-width: $layout-breakpoint-start-noburger) {
                        margin-bottom: 15px;
                    }
                }
                & ul>li{
                    padding:0px;
                    margin-top:8px;
                    margin-bottom:8px;
                    & >a{
                        padding:0px !important;
                        opacity: 0.4;
                        color : $color-black;
                        cursor: pointer;
                    }
                }
                
            }
            p{
                opacity: 0.8;
            }

            & .wrap-legal{
                @media (min-width: $layout-breakpoint-start-noburger) {
                    display: flex;
                    margin-top:100px;
                    justify-content: space-between;
                    & #menu-two{
                        display: flex;
                    }
                }
                @media (max-width: $layout-breakpoint-start-noburger) {
                    display: block;
                    margin-top: 50px;
                    padding-bottom: 15px;
                    & #menu-two>li{
                        margin-bottom: 15px;
                    }
                }
                border-top: solid rgba(0, 0, 0, 0.100) 1px;
                & p{
                    opacity: 0.4;
                    color : $color-black;
                }
                & #menu-two{
                    color: $color-black;
                    opacity: 0.4;
                    padding-left: 0px !important;

                    & a,p{margin: 0px;}
                    & #menu-item-21244{
                        margin-right: 20px;
                        flex-direction: row;
                        align-items: center;
                        @media (min-width: $layout-breakpoint-start-noburger) {
                            &::after{
                                content: " ";
                                width: 5px;
                                height: 5px;
                                display: block;
                                border-radius: 50%;
                                background-color: rgba(0, 0, 0, 0.8);
                                margin-left: 20px;
                            }
                        }
                   }
                    &>li{
                        padding: 0px !important;
                        max-width: none !important;
                    }
                }
            }
        }
        &.nav {
            //margin-top: 80px;
            padding-bottom:0px !important;
            @media all and (max-width: $layout-breakpoint-end-tablette) {
                margin-top: 0px;
                margin-bottom: 20px;
                max-width: 440px;
            }               
            .site-navigation {
                @media all and (min-width: $layout-breakpoint-start-noburger) {
                    justify-content: center;
                }
            }
        }
        &.coordonnees {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media all and (max-width: $layout-breakpoint-end-tablette) {
                flex-direction: column;
            }
            p, a[href] {
                text-align: center;
                color: $color-grey;
            }
            p {
                @media all and (min-width: $layout-breakpoint-start-desktop) {
                    width: 33.33%;
                }
            }
            a[href]:hover {
                text-decoration: underline;
                color: $color-grey;
            }
        }
        &.legals {
            display: flex;
            justify-content: center;
            a {
                display: block;
                color: #d7d7d9;
                font-family: Montserrat,Sans-serif;
                font-size: 14px;
                font-weight: 300;
                text-transform: capitalize;
                &:hover {
                    text-decoration: underline;
                    color: $color-grey;
                }
            }
        }
    }
}