.influence-section-container{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    & .influence-section-header-title{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & >p{
            opacity: 0.5;
            color: $color-black;
            text-transform: uppercase;
            font-family: $font-main-400;
        }
        & >h2{
            margin-top: 10px;
            text-transform: uppercase;
            color: $color-black;
            font-weight: 600;
            font-family: $font-main-400;
        }
    }

    & .influence-section-card-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 20px;

        & .influence-card{
            margin-right: 40px;
        }
    }
}