/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

// -------------- * 2 Columns section function * --------------

@mixin section-two-columns(
  $mobile-colmuns-size: $mobile-colmuns-size // 50% or 100%
  ) {
  .columns-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: $layout-breakpoint-end-tablette) {
      flex-direction: column;
      width: 100%;
    }
    .left-container {
        width: 50%;
      @include flex-disposition (
        $flex-direction: column,
  	    $flex-justify : center,
  	    $align-items : center 
      );
    }
    .right-container {
        width: 50%;
      @include flex-disposition (
        $flex-direction: column,
  	    $flex-justify : center,
  	    $align-items : center 
      );
    }
  }
}


/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  BODY 
/**/

body {
    margin: auto;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  SECTIONS 
/**/

section {

    @include standard-margin ();

    /* SECTION : 2 COLUMNS */

    &.section-half {
        @include section-two-columns(
            $mobile-colmuns-size: 100%, // 50% or 100%
        );
    }

}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  SECTIONS HEADER
/**/
  
.padding-top-header{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}