@charset "UTF-8";
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  HIERARCHIE SCSS :         
                            Du PLUS GLOBAL et PLUS PETIT  ->  au PLUS SPÉCIFIQUE et PLUS GRAND
                                                 ( ORDRE IMPORTANT ! )


/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  1 : PARAMETERS ( ORDRE IMPORTANT ! )
//                              * Main parameters
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat/static/Montserrat-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair-Regular";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair-Medium";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair-SemiBold";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair-Bold";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair-ExtraBold";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair-Black";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf") format("ttf");
}
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/
/* Font Size Function to create classes
ex :
.font-size-10 {
  font-size: 1rem;
}*/
.font-size-10 {
  font-size: 1rem;
}

.font-size-12 {
  font-size: 1.2rem;
}

.font-size-14 {
  font-size: 1.4rem;
}

.font-size-16 {
  font-size: 1.6rem;
}

.font-size-20 {
  font-size: 2rem;
}

.font-size-24 {
  font-size: 2.4rem;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  FONT-FAMILIES BY ELEMENTS
/**/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat-Bold";
}
@supports (-moz-appearance: none) {
  h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
  }
}

h4,
h5 {
  font-family: "Montserrat-Regular";
}

h1,
h2 {
  font-family: "Playfair-Bold";
}

.site-navigation a {
  font-family: "Playfair-Regular";
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  FONT-SIZES BY ELEMENTS
/**/
h1 {
  font-size: 80px;
  line-height: 80px;
}
@media all and (max-width: 1024px) {
  h1 {
    font-size: 45px;
    line-height: 54px;
  }
}

h2 {
  font-size: 40px;
  line-height: 45px;
}
@media all and (max-width: 1024px) {
  h2 {
    font-size: 35px;
    line-height: 42px;
  }
}

h3 {
  font-size: 20px;
  line-height: 36px;
}
@media all and (max-width: 1024px) {
  h3 {
    font-size: 25px;
    line-height: 30px;
  }
}

h4 {
  font-size: 14px;
  line-height: 21px;
}
@media all and (max-width: 1024px) {
  h4 {
    font-size: 16px;
    line-height: 18px;
  }
}

h5 {
  font-size: 12px !important;
  line-height: 16px !important;
}
@media all and (max-width: 1024px) {
  h5 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
}

header .site-navigation a {
  font-size: 15px;
  line-height: 18px;
}
@media all and (max-width: 1024px) {
  header .site-navigation a {
    font-size: 20px;
    line-height: 24px;
  }
}

footer .site-navigation a {
  font-size: 25px;
  line-height: 30px;
}
@media all and (max-width: 1024px) {
  footer .site-navigation a {
    font-size: 20px;
    line-height: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
}
@media all and (max-width: 1024px) {
  p {
    font-size: 18px;
    line-height: 21px;
  }
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/* Réseaux sociaux */
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES 
/**/
.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.blue {
  color: #0080EC;
}

.red {
  color: #FF2E47;
}

.bkg-white {
  background-color: #ffffff;
}

.bkg-black {
  background-color: #000000;
}

.bkg-grey {
  background-color: #FAFAFA;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES 
/**/
.text-center {
  text-align: center;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/
.burger-menu.open, .burger-menu, header li.menu-item-has-children ul.sub-menu li a:hover::after, .site-navigation ul, header {
  -webkit-transition: -webkit-all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  2 : COMPONENTS
//                              * CSS des composants (alerts, badges, dropdowns, progressbars, modals, well, ...)
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  FORMS 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  VARIOUS COMPONENTS 
/**/
/* LIENS A HREF */
a[href] {
  color: #000000;
}
a[href]:not(.std-link) {
  text-decoration: none;
}

.breadcrumb-container .whited-filariane .dot-filariane {
  background: white !important;
}
.breadcrumb-container .whited-filariane li:last-child {
  color: white !important;
}
.breadcrumb-container .whited-filariane li:last-child a {
  opacity: 1 !important;
  color: white !important;
}
.breadcrumb-container .fil-ariane-wrapper .fil-ariane-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumb-container .fil-ariane-wrapper .fil-ariane-container li {
  list-style-type: none;
  font-size: 14px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat-Regular";
}
.breadcrumb-container .fil-ariane-wrapper .fil-ariane-container li a {
  opacity: 0.4;
}
.breadcrumb-container .fil-ariane-wrapper .fil-ariane-container li:last-child a {
  opacity: 1;
}
.breadcrumb-container .fil-ariane-wrapper .fil-ariane-container li:nth-last-child(2) .dot-filariane {
  opacity: 1;
}
.breadcrumb-container .fil-ariane-wrapper .fil-ariane-container .dot-filariane {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #000000;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
  margin-left: 10px;
  margin-right: 10px;
}

.default-link-hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
  color: #000000;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  font-weight: normal;
}
.default-link-hover:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1 !important;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  3 : CARDS
//                              * CSS des cards
/**/
/** contact-card **/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  4 : BLOCKS
//                              * Les éléments (header, footer, menu, table, form, ...)
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
header .site-navigation a {
  font-size: 15px;
  line-height: 18px;
}
@media all and (max-width: 1024px) {
  header .site-navigation a {
    font-size: 20px;
    line-height: 24px;
  }
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  BANNER 
/**/
header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #FAFAFA;
}
header:not(.top-reached) {
  background-color: #ffffff !important;
}
@media (max-width: 767px) {
  header {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media all and (min-width: 768px) {
  header {
    padding: 15px 60px;
  }
}
header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}
@media all and (max-width: 767px) {
  header .wrap {
    height: 30px;
  }
  header .wrap.burger {
    padding: 20px;
  }
}
@media all and (min-width: 768px) {
  header .wrap {
    height: 70px;
  }
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  LOGO 
/**/
header img {
  width: auto;
  height: -webkit-fill-available;
}

header .site-branding {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .site-branding a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media all and (min-width: 1025px) {
  header .site-branding a {
    padding-right: 60px;
  }
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                 MAIN NAVIGATION
/**/
.site-navigation {
  grid-area: nav-menu;
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
}
@media all and (min-width: 1501px) {
  .site-navigation {
    width: calc(100vw - 40px - 123px);
  }
}
@media all and (min-width: 1501px) {
  .site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 1024px) {
  .site-navigation {
    width: auto;
  }
}
.site-navigation .navigation {
  position: relative;
}
@media (max-width: 1500px) {
  .site-navigation .navigation {
    width: 100%;
  }
  .site-navigation .navigation nav {
    width: 100%;
  }
}
@media all and (min-width: 1025px) {
  .site-navigation .navigation .wrap {
    margin: 0;
  }
}
@media (max-width: 1500px) {
  .site-navigation .navigation .wrap {
    height: 100%;
  }
}
.site-navigation .navigation .wrap nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1500px) {
  .site-navigation .navigation .wrap nav {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .site-navigation .navigation .wrap nav > div {
    width: 100%;
  }
  .site-navigation .navigation .wrap nav > div > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1500px) {
  .site-navigation .navigation .menu {
    margin: 0;
  }
}
.site-navigation ul {
  list-style-type: none;
}
@media all and (min-width: 1025px) {
  .site-navigation ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media all and (max-width: 1024px) {
  .site-navigation ul {
    margin: 0;
  }
}
.site-navigation ul:not(.sub-menu) {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-navigation ul:not(.sub-menu) > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-navigation ul:not(.sub-menu) > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  color: #000000;
  text-decoration: none;
}
@media (max-width: 767px) {
  .site-navigation ul:not(.sub-menu) > li > a {
    padding: 24px 25px;
  }
}
@media all and (min-width: 768px) {
  .site-navigation ul:not(.sub-menu) > li > a {
    padding: 24px 25px;
  }
}
@media all and (min-width: 1501px) {
  .site-navigation ul:not(.sub-menu) > li > a {
    padding: 24px 25px;
  }
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                 Header Main Navigation
/**/
@media all and (min-width: 1025px) {
  header .navigation.navigation-one .wrap:after {
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
  }
}
@media all and (min-width: 1025px) and (min-width: 1501px) {
  header .navigation.navigation-one .wrap:after {
    border-right: 1px solid #000000;
  }
}
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  SUB-MENU NAVIGATION
/**/
header li.menu-item-has-children ul.sub-menu {
  top: 68px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  z-index: 2;
}
header li.menu-item-has-children ul.sub-menu.panel li:last-child {
  border-bottom: 0;
}
header li.menu-item-has-children ul.sub-menu:not(.panel) {
  position: absolute;
  padding: 17px 0 0 0;
}
header li.menu-item-has-children ul.sub-menu:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header li.menu-item-has-children ul.sub-menu li a {
  color: #000000;
  text-decoration: none;
  width: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  header li.menu-item-has-children ul.sub-menu li a {
    padding: 24px 25px 24px 50px;
  }
}
header li.menu-item-has-children ul.sub-menu li a::after {
  display: inline-block;
  margin-left: 10px;
  visibility: hidden;
}
header li.menu-item-has-children ul.sub-menu li a:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header li.menu-item-has-children ul.sub-menu li a:hover::after {
  visibility: visible;
}
header .menu-item-has-children > a.sub-menu-openned::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
header .menu-item-has-children > a.sub-menu-openned + ul.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principal-menu-burger .has-children > a,
footer .has-children > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fill-available;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  MENU BURGER
/**/
.wrap.burger .has-children {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger-menu {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
}
.burger-menu.open {
  position: fixed;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.burger-menu .burger-menu-wrapper {
  max-width: 1800px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger-menu .burger-menu-wrapper .close {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: 25px;
  right: 25px;
}
.burger-menu .burger-menu-wrapper .close .close-button-box {
  cursor: pointer;
}
.burger-menu .burger-menu-wrapper ul {
  list-style: none;
  padding: 0;
}

.burger-header {
  max-width: 1800px !important;
  margin: auto;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}
@media all and (min-width: 1501px) {
  .burger-header {
    border-bottom: 1px solid;
  }
}
.burger-header .menu {
  cursor: pointer;
  color: #000000;
  font-size: 14px;
}
.burger-header .menu span {
  display: block;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
}
.burger-header .menu span.long-line {
  width: 40px;
}
.burger-header .menu span.short-line {
  width: 25px;
  margin: 10px 0;
}
.burger-header .logo {
  z-index: 1000;
  position: relative;
}
@media all and (min-width: 1501px) {
  .burger-header .logo {
    top: 75px;
  }
}
@media all and (min-width: 1501px) {
  .burger-header .logo .wrap a {
    border-right: 1px solid #000000;
  }
}
.burger-header .logo .wrap.open {
  position: fixed;
  top: 75px;
}

.burger li {
  border-bottom: 1px solid #ffffff;
}
.burger li a {
  color: #ffffff !important;
}
.burger li.has-children > a:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.803' height='6.31' viewBox='0 0 9.803 6.31'%3E%3Cpath id='Tracé_20809' data-name='Tracé 20809' d='M0,4.9,4.529,0,8.838,4.9' transform='translate(9.326 5.34) rotate(180)' fill='none' stroke='%23fff' stroke-width='1.3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.burger .burger-header .logo {
  top: inherit;
}
.burger .burger-header .logo.open {
  top: 0px;
}
.burger .burger-header .menu {
  font-size: 10px;
}
.burger .burger-header .menu .long-line {
  width: 30px;
}
.burger .burger-header .menu .short-line {
  width: 24px;
  margin: 9px 0;
}
.burger .burger-menu {
  overflow-y: auto;
  z-index: 1;
}
.burger .burger-menu::-webkit-scrollbar {
  display: none;
}
.burger .burger-menu .burger-menu-wrapper .close svg {
  width: 23px;
  height: 26px;
}
.burger .burger-menu .burger-menu-wrapper .principal-menu-burger {
  margin-top: 100px;
  width: 100%;
}
@media (max-width: 767px) {
  .burger .burger-menu .burger-menu-wrapper .principal-menu-burger {
    margin-top: 70px;
    border-top: 1px solid #ffffff;
  }
}
@media (min-width: 768px) {
  .burger .burger-menu .burger-menu-wrapper .principal-menu-burger {
    border-top: 1px solid #ffffff;
  }
}
@media (min-width: 1501px) {
  .burger .burger-menu .burger-menu-wrapper .principal-menu-burger {
    border-top: 1px solid #000000;
  }
}
.burger .burger-menu .burger-menu-wrapper .secondary-menu-burger,
.burger .burger-menu .burger-menu-wrapper .social-media-menu {
  background-color: #1ED356;
  width: -webkit-fill-available;
}
.burger .burger-menu .burger-menu-wrapper .secondary-menu-burger {
  padding-top: 30px;
}
.burger .burger-menu .burger-menu-wrapper .secondary-menu-burger ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.burger .burger-menu .burger-menu-wrapper .secondary-menu-burger ul li {
  margin: 22px 0;
}
.burger .burger-menu .burger-menu-wrapper .secondary-menu-burger ul li:nth-child(1) {
  margin-top: 0;
}
.burger .burger-menu .burger-menu-wrapper .secondary-menu-burger ul li h3 {
  padding: 0 25px;
}
.burger .burger-menu .burger-menu-wrapper .secondary-menu-burger ul li a {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
}
.burger .burger-menu .burger-menu-wrapper .secondary-menu-burger ul li a svg {
  margin-left: 10px;
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  padding-left: 25px;
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu .wrap {
  width: 100%;
  margin: 0;
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu .wrap ul#menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu .wrap ul#menu-social li {
  margin: 12px 0;
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu .wrap ul#menu-social li a {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu .wrap ul#menu-social li a svg {
  margin-left: 10px;
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu .wrap ul#menu-social li.facebook span {
  padding-bottom: 20px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu .wrap ul#menu-social li.instagram span {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  padding-bottom: 5px;
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu .wrap ul#menu-social li.linkedin span {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.burger .burger-menu .burger-menu-wrapper .social-media-menu .wrap ul#menu-social li.youtube span {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding-bottom: 3px;
}

@media all and (min-width: 1501px) {
  #overlay-header > .wrap.burger {
    display: none !important;
  }
}
@media all and (max-width: 1500px) {
  #overlay-header > .wrap:not(.burger) {
    display: none !important;
  }
  .site-header:has(.burger-menu:not(.open)) {
    overflow-x: hidden;
  }
  .site-header:has(.burger-menu.open) {
    overflow-x: visible;
  }
}
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  EVENTS CHANGES
/**/
/* Changes on scroll event */
header:not(.top-reached) .sub-menu {
  background-color: #ffffff !important;
}
header.top-reached a {
  color: #ffffff !important;
}
header.top-reached .has-children > a:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.803' height='6.31' viewBox='0 0 9.803 6.31'%3E%3Cpath id='Tracé_20809' data-name='Tracé 20809' d='M0,4.9,4.529,0,8.838,4.9' transform='translate(9.326 5.34) rotate(180)' fill='none' stroke='%23fff' stroke-width='1.3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
header.top-reached .close line {
  stroke: #ffffff;
}
header.top-reached .menu > span {
  background-color: #ffffff;
}
@media (max-width: 1500px) {
  header a:not(.custom-logo-link) {
    width: -webkit-fill-available;
  }
}

/* Changes on burger event */
.burger-header.open .close line {
  stroke: #ffffff;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  MENUS DÉROULANTS
 * --------------------------------------------------------------------------------------------------------------
 */
/**/
header .menu-principal-container {
  margin-right: 25px;
}
header .menu-principal-container .menu-item-has-children > a {
  position: relative;
}
header .menu-principal-container .menu-item-has-children > a::after {
  display: inline-block;
  margin-left: 10px;
}
header .menu-principal-container .menu-item-has-children ul.sub-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  z-index: 2;
}
header .menu-principal-container .menu-item-has-children ul.sub-menu:not(.panel) {
  position: absolute;
  padding: 0;
  margin: 18px auto;
}
header .menu-principal-container .menu-item-has-children ul.sub-menu.panel li:last-child {
  border-bottom: 0;
}
header .menu-principal-container .menu-item-has-children ul.sub-menu:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .menu-principal-container .menu-item-has-children ul.sub-menu li a {
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  width: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .menu-principal-container .menu-item-has-children ul.sub-menu li a::after {
  display: inline-block;
  margin-left: 10px;
  visibility: hidden;
}
header .menu-principal-container .menu-item-has-children ul.sub-menu li a:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .menu-principal-container .menu-item-has-children ul.sub-menu li a:hover::after {
  visibility: visible;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
footer .site-navigation a {
  font-size: 15px;
  line-height: 18px;
}
@media all and (max-width: 1024px) {
  footer .site-navigation a {
    font-size: 20px;
    line-height: 24px;
  }
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  FOOTER 
/* */
footer {
  max-width: none !important;
  background-color: #FAFAFA;
}
footer .site-navigation {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}
footer .site-branding {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px !important;
  margin-top: 30px !important;
  margin-bottom: 60px !important;
}
footer .site-branding img {
  width: 300px !important;
  height: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}
footer section {
  margin: auto;
}
footer section .footer-navigation {
  width: 100% !important;
}
footer section .footer-navigation .menu-footermenu-container {
  width: 100%;
}
footer section .footer-navigation #menu-item-21354 {
  padding-left: 0px !important;
}
footer section .footer-navigation .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer section .footer-navigation #menu-two {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer section .footer-navigation #menu-two > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 150px !important;
}
@media all and (max-width: 1501px) {
  footer section .footer-navigation #menu-two > li {
    margin-bottom: 50px;
  }
}
footer section .footer-navigation #menu-two > li > a {
  padding: 0px !important;
  opacity: 0.8;
  color: #000000;
  margin-bottom: 29px;
}
@media all and (max-width: 1501px) {
  footer section .footer-navigation #menu-two > li > a {
    margin-bottom: 20px;
  }
}
footer section .footer-navigation #menu-two > li ul > li {
  padding: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}
footer section .footer-navigation #menu-two > li ul > li > a {
  padding: 0px !important;
  opacity: 0.4;
  color: #000000;
}
footer section .footer-navigation .wrap-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid rgba(0, 0, 0, 0.1) 1px;
}
footer section .footer-navigation .wrap-legal p {
  opacity: 0.4;
  color: #000000;
}
footer section .footer-navigation .wrap-legal #menu-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  opacity: 0.4;
  padding-left: 0px !important;
}
footer section .footer-navigation .wrap-legal #menu-two a, footer section .footer-navigation .wrap-legal #menu-two p {
  margin: 0px;
}
footer section .footer-navigation .wrap-legal #menu-two #menu-item-21244 {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer section .footer-navigation .wrap-legal #menu-two #menu-item-21244::after {
  content: " ";
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 20px;
}
footer section .footer-navigation .wrap-legal #menu-two > li {
  padding: 0px !important;
  max-width: none !important;
}
footer section.nav {
  margin-top: 80px;
  padding-bottom: 0px !important;
}
@media all and (max-width: 1024px) {
  footer section.nav {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
@media all and (min-width: 1501px) {
  footer section.nav .site-navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer section.coordonnees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 1024px) {
  footer section.coordonnees {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer section.coordonnees p, footer section.coordonnees a[href] {
  text-align: center;
  color: #FAFAFA;
}
@media all and (min-width: 1025px) {
  footer section.coordonnees p {
    width: 33.33%;
  }
}
footer section.coordonnees a[href]:hover {
  text-decoration: underline;
  color: #FAFAFA;
}
footer section.legals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer section.legals a {
  display: block;
  color: #d7d7d9;
  font-family: Montserrat, Sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}
footer section.legals a:hover {
  text-decoration: underline;
  color: #FAFAFA;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  BODY 
/**/
body {
  margin: auto;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  SECTIONS 
/**/
section {
  /* SECTION : 2 COLUMNS */
}
@media all and (min-width: 1025px) {
  section {
    padding: 60px 60px 60px 60px;
  }
}
@media (max-width: 1024px) {
  section {
    padding: 50px 25px 50px 25px;
  }
}
section.section-half .columns-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  section.section-half .columns-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
section.section-half .columns-wrapper .left-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.section-half .columns-wrapper .right-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 60px;
}
.contact-section-container .contact-section-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contact-section-container .contact-section-header-title > p {
  opacity: 0.5;
  color: #000000;
  text-transform: uppercase;
}
.contact-section-container .contact-section-header-title > h2 {
  margin-top: 10px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  5 : MODELS
//                              * CSS exclusif à ces templates uniquement
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  POSTS ARCHIVE 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  POST SINGLE 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  6 : PAGES
 * --------------------------------------------------------------------------------------------------------------
//                              * CSS exclusif à ces pages uniquement
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  LEGAL PAGES 
/**/
.legal-section .columns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.legal-section .terms_content {
  max-width: 70%;
}
.legal-section .terms_content h2 {
  font-size: 20px;
  font-weight: 600 !important;
  line-height: 23px;
  color: black;
  margin-bottom: 35px;
  margin-top: 50px;
}
.legal-section .terms_content .main-title {
  text-align: left !important;
  text-transform: uppercase;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  CONTACT PAGE 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/
/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  ISOLATED CODE FOR PARTIAL RELEASE
 *                                                         TO BE REMOVED NEXT
/**/